<h2>
  {{pageTitle}}
</h2>
<div class="card">
  <div class="card-body">
    <form [formGroup]="updateUserInputForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">User Name</label>
        <input [readOnly]="Update" type="text" class="form-control" formControlName="username" #username value = "{{user.username}}" />
      </div>
      <div *ngIf="updateUserInputForm.controls['username'].invalid && (updateUserInputForm.controls['username'].dirty)" class="alert alert-danger">
        <div *ngIf="updateUserInputForm.controls['username'].errors.required">
          User Name is required.
        </div>
        <div *ngIf="updateUserInputForm.controls['username'].errors.pattern">
          Invalid Username. Username should have both letters and numbers, without special characters
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="password" class="form-control" formControlName="password" #password value= "{{user.password}}" />
      </div>
      <div *ngIf="updateUserInputForm.controls['password'].invalid && (updateUserInputForm.controls['password'].dirty)" class="alert alert-danger">
        <div *ngIf="updateUserInputForm.controls['password'].errors.required">
          Password is required.
        </div>
        <div *ngIf="updateUserInputForm.controls['password'].errors.pattern">
          Invalid Password. Password should contain lowercaseLetter, uppercaseLetter and number
        </div>
      </div>
     
      <div class="form-group">
        <label class="col-md-4">Firstname </label>
        <input type="text" class="form-control" formControlName="firstname" #firstname value = "{{user.firstname}}" />
      </div>
      <div *ngIf="updateUserInputForm.controls['firstname'].invalid && (updateUserInputForm.controls['firstname'].dirty)" class="alert alert-danger">
        <div *ngIf="updateUserInputForm.controls['firstname'].errors.required">
          Firstname is required.
        </div>
        <div *ngIf="updateUserInputForm.controls['firstname'].errors.pattern">
          Invalid Firstname. Firstname should have letters
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Lastname </label>
        <input type="text" class="form-control" formControlName="lastname" #lastname value = "{{user.lastname}}" />
      </div>
      <div *ngIf="updateUserInputForm.controls['lastname'].invalid && (updateUserInputForm.controls['lastname'].dirty)" class="alert alert-danger">
        <div *ngIf="updateUserInputForm.controls['lastname'].errors.required">
          Lastname is required.
        </div>
        <div *ngIf="updateUserInputForm.controls['lastname'].errors.pattern">
          Invalid Lastname. Firstname should have letters
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Email </label>
        <input type="text" class="form-control" formControlName="gmail" #gmail value = "{{user.gmail}}" />
      </div>
      <div *ngIf="updateUserInputForm.controls['gmail'].invalid && (updateUserInputForm.controls['gmail'].dirty)" class="alert alert-danger">
        <div *ngIf="updateUserInputForm.controls['gmail'].errors.required">
          Email is required.
        </div>
        <div *ngIf="updateUserInputForm.controls['gmail'].errors.pattern">
          Invalid Email. Email should be like 'letters@address'
        </div>
      </div>
      
      <div class="form-group">
        <input type="button" value="{{ buttonTitle }}" (click)="updateUserItem(username.value, password.value, firstname.value, lastname.value, gmail.value)"
       
        class="btn btn-success"/>
      </div>
    </form>
  </div>
</div>